# Virtual env folders
.venv
env/
venv/

# Virtual env artifacts
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python bytecode
__pycache__/
*.py[cod]

# Notebooks
.ipynb_checkpoints/

# Logs
logs/
*.log

# Unit test reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Mypy cache
.mypy_cache/

# PEP 582 cache
__pypackages__/